@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


:root{
    --dark-bg:#15202b;
    --dark-container:#38444db1;
    --blue: #3745b5;
    --white: #ffffff;
    --red: #e46569;
    --orange:#ecaf81;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: #0a2540;
background: radial-gradient(circle,#83c1ff61 20%, rgba(148,187,233,1) 100%);
    
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container{
    background-color:var(--dark-container);
    border-radius:30px  ;
    color: var(--white);
    font-family: 'Raleway', sans-serif;
}