<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Paint </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
</head>

<body class=" d-flex flex-column">
    <header>
        <div class="nav justify-content-sm-between p-2 border-bottom">
            <h3 class="h3">Hello,{{request.session.username}}</h3>
            <div class="">
                <a href="/addpainting" class="h2 m-2">Add Painting</a>

                <a href="/" class="h2 m-2">DashBoard</a>
                <a href="/logout" class="btn btn-primary ms-5">Log out</a>
            </div>
        </div>
    </header>
    <div class="container m-5 w-75">
        <div class="row m-5">
            <div class="row mb-3 w-100 justify-content-center">
                <div class="col-sm-8">
                    <h3 class="h3">{{paint.title}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                        <div class="row mb-3 w-100 justify-content-center">
                            <div class="col-sm-8">
                                <p>Painted by: {{paint.add_by.first_name}} {{paint.add_by.last_name}}</p>
                            </div>
                        </div>
                        <div class="row mb-3 w-100 justify-content-center">
                            <div class="col-sm-8">
                                <h4 class="he">Description</h4>
                                <p>{{paint.desc}}</p>
                            </div>
                        </div>
                        <div class="row mb-3 w-100 justify-content-center">
                            <div class="col-sm-8">
                                <h4 class="he">Price</h4>
                                <p>$ {{paint.price}}</p>
                            </div>
                        </div>
                        <div class="row mb-3 w-100 justify-content-center">
                        <div class="col-sm-8">
                            <h4 class="he">Number of Purchased</h4>
                            <p>{{numberOfPurchase}}</p>
                        </div>
                        </div>
                        {% if buyable %}
                        <div class="row m-auto w-50 justify-content-between">
                            <a href="/paint/{{paint.id}}/buy"><button type="submit" class="btn btn-primary">Buy</button></a>
                        </div>
                        {% else %}
                    <div class="row m-auto w-50 justify-content-between"></div>
                        <p>sold Out</p>
                    </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>